.flex{
    display: flex;

    &.col{
        flex-direction: column;
        
        &.cc{
            justify-content: center;
            align-items: center;
        }
        &.sc{
            justify-content: flex-start;
            align-items: center;
        }
    }
    &.row{
        flex-direction: row;
        &.mx{
            justify-content: center;
        }
        &.wp{
            flex-wrap: wrap;
        }
        &.sa{
            justify-content: space-around;
        }
        &.sw{
            justify-content: space-between;
        }
        &.se{
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

.grid{
    display: grid;
    &.col-a-a{
        grid-template-columns: auto auto;
    }
    &.col-a-1fr{
        grid-template-columns: auto 1fr;
    }
}