.navbar{
    width: 100%;
    height: 60px;
    background: #000000;
    display: grid;
    grid-template-columns: auto auto auto auto 1fr 60px;
    -webkit-app-region: drag;
    
    .op{
        display: grid;
        place-items: center;
        padding: 0 2em;
        color: #FFF;
        -webkit-app-region: no-drag;
        transition: .12s ease-in-out;
        border: solid transparent 2px;

        &:hover{
            background: #00bfa566;
            border-color: #00bfa5;
        }
    }
}