.wsp1{
    width: 100%;
    display: flex;
    flex-flow: column;
    // outline: solid red 1px;
    padding-top: 0;
    padding: 15px;

    >.title{
        font-size: 25px;
        padding: 10px 0;
    }
    .seccion{
        >.title{
            transition: .2s ease;
            margin: 15px 0;
            margin-top: 5px;
            // box-shadow: 0px 4px 3px #11111130;
        }
        .txtbox{
            display: grid;
            grid-template-columns: auto;
            margin: 10px 0;
            input{
                padding: .25em;
                border: none;
                box-shadow: 0px 1px #0a0a0a33;
                outline: none;
                transition: .2s ease;
                
                &:focus{
                    box-shadow: 0px 1px rgb(0, 204, 255);
                }
            }
            .result{
                margin: 10px 0;
                font-weight: bold;
                font-size: 18px;
            }
        }
        &:hover{
            >.title{
                box-shadow: 0px 4px 3px #3aadad70;
            }
        }
    }
    .opciones{
        // outline: solid blue 1px;
        box-shadow: 3px 3px 1px 1px #0a0a0a20;
        max-width: 500px;
        .title{
            font-size: 20px;
            background: var(--blue);
            padding: 15px;
            color: #FFF;
        }
        
        .op{
            padding: 15px;
            // outline: solid red 1px;
            background: #f1f1f1;
            border-bottom: 1px solid #DADADA;
            transition: .25s ease-in-out;
            &:hover{
                background: rgb(178, 208, 238);
            }
        }
    }
}

.wsp2{
    // outline: solid gr
    // border-bottom: 1px solid # 1px;
}