
<div class="about">
    <div class="seccion c-a-a">
        <div class="p">
            <div class="title">Nuestro objetivo es…</div>
            
            El bienestar humano, el cuidado del agua y el generar conciencia de los problemas que pueden generar el consumo y el uso del ''Glifosato'' y así mismo planteamos literalmente una ''solución'', diluyendo este herbicida del agua para el posterior consumo y poder llevarlo a zonas rurales donde el agua también se ve afectada por el herbicida más popular y también dañino para el ser humano, animales y ecosistema en general.
        </div>
        <div class="p">
            <div class="title">Nuestro Alcance es…</div>
            
            Identificar y eliminar el peligroso herbicida del agua. Sabemos que el agua es un recurso no renovable y se busca que se pueda  reutilizar dicha agua contaminada.
            
            El herbicida en el agua la vuelve prácticamente inutilizable para consumo, en un futuro se planea que el glifosato se pueda eliminar de las cosechas e inclusive reducir el daño que este provoca buscando alternativas como buscar otra base para los herbicidas que no dañen el medio ambiente.
            
            Se pretende informar a la población sobre los daños, problemas ambientales y daños a la salud, generar mas concientización y así prohibirlo o llevar un control. 

        </div>
    </div>
    <div class="seccion c-1-2">
        <div class="p">
            <div class="title">Descripción general de la problemática identificada</div>
            La contaminación del agua con el uso del glifosato en zonas rurales y la repercusión que esto tiene en la salud de las personas ya sea en zonas urbanas y/o rurales           
        </div>
    </div>
</div>