<h1>kit Domestico para 10m <sup>3</sup></h1>
<div class="kit_basico">
    <div class="tabheader">
        <div class="title">CANTIDAD KIT DOMESTICO</div>
        <div class="title">N</div>
        <div class="title">REACTIVOS GRS</div>
        <div class="title">COSTO REACTIVOS/GR</div>
        <div class="title">COSTO REACTIVOS</div>
    </div>
    <div class="row">
        <div class="item">Peróxido de Hierro II</div>
        <div class="item">1</div>
        <div class="item">550.00</div>
        <div class="item">$0.40</div>
        <div class="item">$220.00</div>
    </div>
    <div class="row">
        <div class="item">Peróxido de Hidrógeno 35 %</div>
        <div class="item">2</div>
        <div class="item">205.00</div>
        <div class="item">$0.11</div>
        <div class="item">$25.55</div>
    </div>
    <div class="row">
        <div class="item">Oxalato de Calcio</div>
        <div class="item">3</div>
        <div class="item">80.00</div>
        <div class="item">$0.60</div>
        <div class="item">$48.00</div>
    </div>

    <div class="row">
        <div class="item">Luz Ultravioleta (opcional)</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    
    <div class="row">
        <div class="item">Costo total del kit</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">$290.55</div>
    </div>
    
    
    
    <div class="row">
        <div class="item">PRECIO VECES EL COSTO</div>
        <div class="item">2</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">$581.10</div>
    </div>
    <div class="row">
        <div class="item">Ganancia</div>
        <div class="item">2</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">$290.55</div>
    </div>
    <div class="row">
        <div class="item">% GANANCIA</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">50%</div>
    </div>
</div>