<h1>kit Industrial para 100m <sup>3</sup></h1>
<div class="kit_industrial">
    <div class="tabheader">
        <div class="title">CANTIDAD KIT DOMESTICO</div>
        <div class="title">N</div>
        <div class="title">REACTIVOS GRS</div>
        <div class="title">COSTO REACTIVOS/GR</div>
        <div class="title">COSTO REACTIVOS</div>
    </div>
    <div class="row">
        <div class="item">Peróxido de Hierro II</div>
        <div class="item">1</div>
        <div class="item">5250.00</div>
        <div class="item">$0.40</div>
        <div class="item">$2100.00</div>
    </div>
    <div class="row">
        <div class="item">Peróxido de Hidrógeno 35 %</div>
        <div class="item">2</div>
        <div class="item">2020.00</div>
        <div class="item">$0.11</div>
        <div class="item">$222.20</div>
    </div>
    <div class="row">
        <div class="item">Oxalato de Calcio</div>
        <div class="item">3</div>
        <div class="item">850.00</div>
        <div class="item">$0.60</div>
        <div class="item">$510.00</div>
    </div>

    
    <div class="row">
        <div class="item">Luz Ultravioleta (opcional)</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    
    <div class="row">
        <div class="item">Costo total del kit</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">$2832.20</div>
    </div>
    
    <div class="row">
        <div class="item">PRECIO</div>
        <div class="item">2</div>
        <div class="item"></div>
        <div class="item">2</div>
        <div class="item">$5664.40</div>
    </div>
    <div class="row">
        <div class="item">Ganancia</div>
        <div class="item">2</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">$2832.20</div>
    </div>
    <div class="row">
        <div class="item">% GANANCIA</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">50%</div>
    </div>
</div>