<!-- <div class="simulacion">
    <div class="title">ELEMENTOS</div>
    <div class="elementos flex roW"></div>
    <div class="title">REACTIVOS</div>
    <div class="reactivos flex roW"></div>
</div> -->
<div class="wsp1">
    <div class="title">Datos para la simulacion</div>

    <div class="seccion">
        <div class="title">GLIFOSATO (C3H8NO5P) CONTAMINANTE DEL AGUA</div>
        <div class="txtbox">
            <div class="title">Gramos de Glifosato</div>
            <input type="number" id="GG">
        </div>
        <div class="txtbox">
            <div class="title">Litros de Agua Contaminada</div>
            <input type="number" id="VAC">
        </div>
        <!-- <div class="txtbox">
            <div class="title">PM del Glifosato</div>
            <input type="number" id="PMG" disabled class="result">
        </div> -->
        <div class="txtbox">
            <div class="title">Moles de Glifosato</div>
            <input type="number" id="MG" disabled class="result">
        </div>
        <div class="txtbox">
            <div class="title">Moles de CaC2O4</div>
            <input type="number" id="MOC" disabled class="result">
        </div>
        <div class="txtbox">
            <div class="title">Costo del CaC2O4</div>
            <input type="text" id="COCT" disabled class="result">
        </div>
        <div class="txtbox">
            <div class="title">Costo del FeO2</div>
            <input type="text" id="COFT" disabled class="result">
        </div>
        <div class="txtbox">
            <div class="title">Costo del H202</div>
            <input type="text" id="COCT2" disabled class="result">
        </div>
        <div class="txtbox">
            <div class="title">Costo Reactivos</div>
            <input type="text" id="CR" disabled class="result">
        </div>
    </div>

</div>


<div class="wsp2 flex col">
    <div class="pesoR flex col sc">
        <div class="title">Peso Reactvos</div>
        <div class="reactivos flex col sc">
            <div class="reactivo">
                <div class="title">CaC204</div>
                <div id="GOC">0 grs</div>
            </div>
            <div class="reactivo">
                <div class="title">Fe02</div>
                <div id="GOF">0 grs</div>
            </div>
            
            <div class="reactivo">
                <div class="title">H2O2</div>            
                <div id="GPH">0 grs</div>
            </div>
        </div>
    </div>
    <div class="graficas flex row wp se">
        <div class="f">
            <label for="">
                Numero de Moles 
                <!-- <input type="number" id="VACg"> -->
            </label>
            <canvas id="chartContaminante" width="100px" height="100px"></canvas>
        </div>
        <div class="f">
            <label for="">
                Costos de los Reactivos
                <!-- <input type="number" id="Catalizador"> -->
            </label>
            <canvas id="chartReactivos" width="100px" height="100px"></canvas>
        </div>
    </div>

    <!-- <div class="f">
        <label for="">
            Volumen de Agua Contaminada (lts) 
            <input type="number" id="VAC2">
        </label>
        <canvas id="chartContaminante2" width="100px" height="100px"></canvas>
    </div>
    <div class="f">
        <label for="">
            CATALIZADOR oxalato de calcio (CaC2O4 )
            <input type="number" id="Catalizador2">
        </label>
        <canvas id="chartCatalizador2" width="100px" height="100px"></canvas>
    </div> -->

</div>